<div class="large"> 
  <header>
    <h1>CMD CANVAS |
        <span class="tagline">Tool for personal and professional development</span>
    </h1>
  </header>
<div class="main--container">
   <%= form_tag(query_path, method: :get) do %>
    <div class="canvas_form">
        <h1>Type a name</h1>
     <%= text_field_tag(:search, params[:search]) %>
     <%= submit_tag("Search") %>
    </div>
    <% end %>

  </div>
  </div>

<% if @canvas %>
<span>Total: <%= @canvas.count %></span>

<br>
<div class="container">
  <table>
  <% @canvas.each do |canvas| %>
    <tr>
     <td><a href="/canvas/show/<%= canvas.slug %>"><%= canvas.name %></a></td>
     <td>updated at: <%= canvas.updated_at.to_formatted_s(:short) %> </td>
    </tr>
  <% end %>
  </table>
</div>

<% end %>