<%= javascript_include_tag "jquery-3.4.1.min.js" %>
<%= javascript_include_tag "website.js" %>

<div id="overlay">
  <div class="send_form">
      <div class="close_button">X</div>
      <h1>❤️❤️ CMD Canvas ❤️❤️</h1>
        Hey, <%= @canvas.name %>
      <h2> Please save your canvas!</h2>
      <h2>🚀 Grab your link</h2>
      <input type="text" value="<%= request.url %>">
  </div>
</div>
<%= form_with url: "/canvas/show/#{@canvas.slug}", model: @canvas, id: "comp_bar" ,method: :patch do |form|  %>
  <input type="hidden" id="uuid" value="<%= @canvas.comp + @canvas.lvl %>">
<div class="canvas--container">
  <header>
    <h1><a href="/">CMD CANVAS</a> |
        <span class="tagline">Tool for personal and professional development</span>
    </h1>

      <div class="tools">
        <div id="comp_title" data-comp="1">
          <select name="canva[comp]" id="comp_select">
            <option <% if @canvas.comp == "1"  %> selected="selected" <% end %> value="1">Research</option>
            <option <% if @canvas.comp == "2"  %> selected="selected" <% end %>value="2">Create</option>
            <option <% if @canvas.comp == "3"  %> selected="selected" <% end %>value="3">Communicate</option>
            <option <% if @canvas.comp == "4"  %> selected="selected" <% end %>value="4">Organize</option>
            <option <% if @canvas.comp == "5"  %> selected="selected" <% end %>value="5">Learn</option>
          </select>
        </div>

        <div id="comp_lvl" data-lvl="1">
          <select name="canva[lvl]" id="lvl_select">
            <option <% if @canvas.lvl == "1"  %> selected="selected" <% end %>value="1">N1</option>
            <option <% if @canvas.lvl == "2"  %> selected="selected" <% end %>value="2">N2</option>
            <option <% if @canvas.lvl == "3"  %> selected="selected" <% end %>value="3">N3</option>
          </select>
        </div>

        <div id="comp_ec">
          <select name="canva[ec]" id="ec_select">
            <option <% if @canvas.ec == "3"  %> selected="selected" <% end %> value="3">3 EC</option>
            <option <% if @canvas.ec == "6"  %> selected="selected" <% end %> value="6">6 EC</option>
            <option <% if @canvas.ec == "9"  %> selected="selected" <% end %> value="9">9 EC</option>
            <option <% if @canvas.ec == "12"  %> selected="selected" <% end %> value="12">12 EC</option>
          </select>
        </div>

        <div class="url_box">
          <span class="orange">Save this unique URL, its the only way to find this canvas </span>
          <input type="text" value="<%= request.url %>">
        </div>

        <div class="buttons noprint">
          <%= form.submit "Save", id: "canvas_save" %>
          <div id="canvas_share"><%= image_tag "share.png" %></div>
          <div id="canvas_print"><%= image_tag "print.png" %></div>
          </div>
        </div>
  </header>
  <div class="flex">
      <section class="reason--why">
          <b>REASON WHY:</b> why do you want to learn this?
           <%= form.text_area :reason, :value => @canvas.reason %>
      </section>
     
      <section class="learning--outcome">
          <b>LEARNING OUTCOME:</b> The general level descriptions of the competency: check your mentor and <a href="http://info.cmdlwd.nl" target="_blank">CMD
          Sharepoint</a>
  <br><br>
      <div class="outcomes">
        <div class="hidden" data-uuid="11">
        You investigate a given defined problem using provided research methods and provided theories.<br> The goal is to identify the needs of the target group and to come up with a solution that fits the needs of the target group. <br> You involve the target group to test the extent to which the solution works and fits the needs of the target group.
        </div>

        <div class="hidden" data-uuid="12">
        You investigate a given semi-defined problem using a self-selected research method and self-selected theories.<br> The goal is to clarify the problem and to search for a solution direction taking into account different and sometimes conflicting needs and interests. You involve different stakeholders to test the extent to which the solution works and fits the different needs and interests.
        </div>

        <div class="hidden" data-uuid="13">
You will investigate a self-selected complex problem.  You will choose your own research direction and make use of a self-selected mix of research methods and theories. <br> The goal is to develop a broad view of the problem and to look for a solution that takes into account different and sometimes conflicting interests and its social consequences. You will work closely with the various stakeholders and use a combination of test methods to test the extent to which the solution works, meets the needs and interests and is socially desirable.
        </div>

        <div class="hidden" data-uuid="21">
        You design a suitable solution for a given, defined problem. You involve the target group in the creation process at regular intervals and make use of basic knowledge and skills. You base the solution on insights and examples from research. This results in a usable product, in which you have adapted core elements of an existing idea to the application context.
        </div>

        <div class="hidden" data-uuid="22">
        You design a thoughtful solution to a complex problem. You regularly involve various stakeholders in the creation process and draw on extensive- self-selected- and self-created professional knowledge and skills. You base the solution on insights and examples from research. This results in a product in which existing ideas are combined in your own way and the possible impact on the target group and its immediate environment is taken into account.
        </div>

        <div class="hidden" data-uuid="23">
        You design an inspiring solution for a complex, undefined problem with conflicting aspects. You continuously involve various stakeholders in the (co) creation process and use broadly integrated, general and specialist skills and knowledge. You base the solution on insights from your own experiments and existing research. This results in a product in which these insights are translated into something new in your own way, the social impact is taken into account and the meaning reaches further than just the application context and/or that which is immediately experienced.
        </div>

        <div class="hidden" data-uuid="31">
        You have basic knowledge of (intercultural) communication. On this basis you communicate in a targeted way with a particular target group or stakeholder. You adapt your message in form, tone and content to this and listen actively so that the message of both the sender and the receiver come across as well as possible.
        </div>

        <div class="hidden" data-uuid="32">
       You have nuanced knowledge of (intercultural) communication and consciously choose the right approach based on this to systematically communicate with different target groups or stakeholders. This leads to a series of expressions that are geared to the target group or stakeholders in order to achieve support and an optimal result.
        </div>

        <div class="hidden" data-uuid="33">
      You are sensitive to the interests and values of others and can place them in a broader cultural framework. Based on this, you develop an integrated communication strategy that sets the right course to achieve the desired image with selected target groups or stakeholders.
        </div>

        <div class="hidden" data-uuid="41">
      You work on a clear task in which it is easy to see in advance what has to be done and what the result has to be. In order to achieve the desired result within the time available, you make a logical planning and division of tasks in advance and you set clear deadlines. During the work process you maintain an overview of the progress and solve any problems that could prevent the deadlines from being met. When working together you motivate other team members and you speak to them when necessary. You ensure a shared responsibility for the group result.
        </div>

        <div class="hidden" data-uuid="42">
        You are working on a complex task where it is difficult to map out in advance what needs to be done and what the result should be. In order to achieve an optimal result with an effective and efficient working method, you make a plan of action in advance and formulate relevant success criteria. In addition to progress, you monitor the efficiency of the work process and the quality of performance You make interventions, if necessary, to optimize the work process and achieve a better result. In cooperation you have an eye for the different talents within your team and you deploy them as well as possible. You ensure a constructive atmosphere and shared responsibility for the work process.

     
        </div>

        <div class="hidden" data-uuid="43">
        You work on a complex task where it is impossible to map out in advance what needs to be done and what the result should be. To find a solution direction, you create a creative environment. To do this, you gather the right people. You create clear frameworks, provide the necessary facilities and try to remove 'disruptive peripheral issues'. During the creation process you stimulate experimentation, open communication and self-direction. You monitor internal and external developments. In this way you develop a broad perspective and progressive insight with regard to a possible solution direction. In this way you provide others with input for making decisions. You ensure a shared responsibility for the creation process.
        </div>

        <div class="hidden" data-uuid="51">
      You set task goals, creating pressure and leverage to motivate yourself. You choose an appropriate time and place for learning. You ask for specific help to find the right knowledge and skills and to assess whether you have mastered them sufficiently. You monitor your progress towards task objectives, reflect on your actions and formulate points of improvement for the continuation of the learning process. Within a team you can help peers and ask for help.
        </div>

        <div class="hidden" data-uuid="52">
        You learn application-oriented. You identify limitations in knowledge and skills (K&S) and set task and learning goals. You look for the missing K&S and choose a learning strategy to effectively make these your own. You reflect on what and how you have learned. You assess whether you have mastered the required K&V sufficiently and you can ask for help with in-depth knowledge processing in order to be able to apply it. In addition, you compare your own learning and working behavior with that of others and become aware of your own comfort zone and what lies beyond it. Within a multidisciplinary team you will be able to effectively transfer K&S to your peers and vice versa.
        </div>

        <div class="hidden" data-uuid="53">
       You learn from intrinsic motivation. You create a coherent set of learning goals appropriate to your interests and aspirations. You can process information deeply to make knowledge transfers. You look for sparring partners, other views and talents to enrich your self-knowledge, your vision and the learning and acting of yourself and others. You reflect on what and how you have learned. In doing so, you choose your own criteria and standards. Within multidisciplinary teams you can direct the common learning process, creating a Community of Learning (CoL) in which knowledge is jointly and integrally constructed.
        </div>
    </div>
    </section>
      <section class="explanation">
          <b>EXPLANATION:</b> Use this canvas to organize what you want to learn and how to get there. By
          filling
          in all
          fields, you work
          on knowledge, attitude and skill aspects of the competency.
          Make sure to fill in all four fields below en be as specific as possible when referring to sources,
          people, books,
          sites, etc.
      </section>

      <section class="learning--goals">
          <b>LEARNING GOALS:</b>
          <%= form.text_area :goals, :value => @canvas.goals %>
      </section>
       
      <section class="feedback">
      <b>FEEDBACK:</b>
      <%= form.text_area :feedback, :value => @canvas.feedback %>

      </section>

      <div class="heading--learning">
          <h2>Learning activities</h2>
      </div>
  
  <div class="inspiration">
                    <b>INSPIRATION:</b> Which examples are you going to watch? Where and how do you get inspired?
                      <%= form.text_area :inspiration, :value => @canvas.inspiration %>
                </div>
                <div class="inspiration">
                    <b>CREATION:</b> What are you going to make? Think products, artefacts, prototypes, sketches, etc.
                       <%= form.text_area :practice, :value => @canvas.practice %>
                </div>
                <div class="inspiration">
                    <b>THEORY:</b> What sources like books, documentaries, articles etc are you going to use and study?
                         <%= form.text_area :foundation, :value => @canvas.foundation %>
                </div>
                <div class="inspiration">
                    <b>CONSULTATIONS and FEEDBACK/-FORWARD:</b> Which experts are you going to talk to?
                     <%= form.text_area :consults, :value => @canvas.consults %>
                </div>

                <section class="explanation">
                    <b>EXPLANATION:</b> The summary on the right is the learning outcome reshaped to your specific
                    project and situation.
                    Re-write the general description in <b>your</b>
                    own words and be specific about: who, what, where and how.
                </section>
                <div class="summary">
                    <b>SUMMARY: LEARNING OUTCOME IN CONTEXT:</b> Re-write the learning outcome s.m.a.r.t. to your
                    specific
                    project and situation
                    <%= form.text_area :summary, :value => @canvas.summary %>
                </div>
</div>
    
<% end %>

</div>