<%= javascript_include_tag "jquery-3.4.1.min.js" %>
<%= javascript_include_tag "website.js" %>

<div class="top_bar">
    <h1>CMD CANVAS | TOOL FOR PERSONAL AND PROFESSIONAL DEVELOPMENT </h1>
</div>

<div id="overlay">
  <div class="send_form">
      <div class="close_button">X</div>
      <h1>❤️❤️ CMD Canvas ❤️❤️</h1>
        Hey, <%= @canvas.name %>
      <h2>🚀 Grab your link & share</h2>
      <input type="text" value="<%= request.url %>">
  </div>
</div>

<div class="canvas">
  <div class="top_canvas">
    <h2>Ingevuld door: <strong><%= @canvas.name %></strong></h2>
  </div>

<%= form_with url: "/canvas/show/#{@canvas.slug}", model: @canvas, id: "comp_bar" ,method: :patch do |form|  %>
  <input type="hidden" id="uuid" value="<%= @canvas.comp + @canvas.lvl %>">

      <div class="tools">
        <div id="comp_title" data-comp="1">
          <select name="canva[comp]" id="comp_select">
            <option <% if @canvas.comp == "1"  %> selected="selected" <% end %> value="1">Onderzoeken</option>
            <option <% if @canvas.comp == "2"  %> selected="selected" <% end %>value="2">Creëren</option>
            <option <% if @canvas.comp == "3"  %> selected="selected" <% end %>value="3">Communiceren</option>
            <option <% if @canvas.comp == "4"  %> selected="selected" <% end %>value="4">Organiseren</option>
            <option <% if @canvas.comp == "5"  %> selected="selected" <% end %>value="5">Leren</option>
          </select>
        </div>

        <div id="comp_lvl" data-lvl="1">
          <select name="canva[lvl]" id="lvl_select">
            <option <% if @canvas.lvl == "1"  %> selected="selected" <% end %>value="1">Niveau 1</option>
            <option <% if @canvas.lvl == "2"  %> selected="selected" <% end %>value="2">Niveau 2</option>
            <option <% if @canvas.lvl == "3"  %> selected="selected" <% end %>value="3">Niveau 3</option>
          </select>
        </div>

        <div id="comp_ec">
          <select name="canva[ec]" id="ec_select">
            <option <% if @canvas.ec == "3"  %> selected="selected" <% end %> value="3">3 EC</option>
            <option <% if @canvas.ec == "6"  %> selected="selected" <% end %> value="6">6 EC</option>
            <option <% if @canvas.ec == "9"  %> selected="selected" <% end %> value="9">9 EC</option>
            <option <% if @canvas.ec == "12"  %> selected="selected" <% end %> value="12">12 EC</option>
          </select>
        </div>

        <div class="buttons noprint">
          <%= form.submit "Save", id: "canvas_save" %>
          <div id="canvas_share"><%= image_tag "share.png" %></div>
          <div id="canvas_print"><%= image_tag "print.png" %></div>
        </div>
        </div>

  <div id="canvas_content">
    <div class="form_box why">
      <label for="why" class="font-bold">REASON WHY:</label>
      <%= form.text_area :reason, :value => @canvas.reason, placeholder: "Waarom wil je dit leren?", class: "p-2 border-2 border-black" %>
    </div>

    <div class="form_box outcome">
      <div class="outcomes">
        <div class="hidden" data-uuid="11">
          <h2>"De CMD'er onderzoekt het probleem en test, verbetert en implementeert de oplossing."</h2>
          <br>
          Je onderzoekt een gegeven, gedefinieerd probleem met behulp van aangereikte methodieken voor desk- en fieldresearch.<br>
          Je formuleert een praktische oplossing vanuit de onderzoeksresultaten en de belangen van de doelgroep.<br>
          Je betrekt de doelgroep bij dit proces.
        </div>

        <div class="hidden" data-uuid="12">
          <h2>"De CMD'er onderzoekt het probleem en test, verbetert en implementeert de oplossing."</h2>
          <br>
           Je verkent een gegeven, semi gedefinieerd probleem.<br>
           Je plaatst dit in een bredere context om de unieke context van de opdracht beter te begrijpen.<br>
           Je kiest een methode en kan deze keuze beargumenteren.<br><br>
           Je analyseert de onderzoeksresultaten, waarbij je alert bent op de betrouwbaarheid en toepasbaarheid van je inzichten; je gebruikt hierbij bestaande theorie.<br>
           Je verheldert het probleem en formuleert aanbevelingen voor mogelijk oplossingen, waarbij je rekening houdt met verschillende – soms tegenstrijdige - factoren.<br>
           Je betrekt de verschillende stakeholders bij dit proces.
        </div>

        <div class="hidden" data-uuid="13">
          <h2>"De CMD'er onderzoekt het probleem en test, verbetert en implementeert de oplossing."</h2>
          <br>
          Je signaleert een complex probleem en ontwikkelt een onderzoeksrichting. <br>
          Je interpreteert de verschillende conflicterende aspecten, belangen en waarden in je onderzoeksresultaten.<br>
          Je werkt het vraagstuk uit met een zelfgekozen mix van onderzoeksmethodieken.<br><br>
          Hierbij ontwikkel je een brede visie op het vraagstuk en de context waarbinnen het speelt, en plaats je deze in een maatschappelijk kader.<br>
          Je werkt hierbij nauw samen met de verschillende stakeholders.
        </div>

        <div class="hidden" data-uuid="21">
          <h2>"De CMD’er ontwikkelt concepten en vertaalt deze naar ontwerp en creatie van multimediale oplossingen."</h2>
          <br>
          Je ontwerpt een passende oplossing voor een gegeven, gedefinieerd probleem.<br>
          Je betrekt op gezette momenten de doelgroep bij het creatieproces en maakt gebruik van aangereikte basiskennis en vaardigheden.<br><br>
          Je baseert de oplossing op inzichten en voorbeelden uit onderzoek.<br>
          Dit levert een bruikbaar product op, waarbij je kernelementen van een bestaand idee hebt aangepast aan de toepassingscontext. 
        </div>

        <div class="hidden" data-uuid="22">
          <h2>"De CMD’er ontwikkelt concepten en vertaalt deze naar ontwerp en creatie van multimediale oplossingen."</h2>
          <br>
          Je ontwerpt een doordachte oplossing voor een ingewikkeld probleem. <br>
          Je betrekt regelmatig verschillende stakeholders bij het creatieproces en maakt gebruik van uitgebreide- zelf gekozen- en zelf eigengemaakte vakkennis en vaardigheden.<br> Je baseert de oplossing op inzichten en voorbeelden uit onderzoek. <br><br>
          Dit levert een product op waarbij bestaande ideeën op eigen wijze zijn gecombineerd en rekening gehouden is met de mogelijke impact ervan op de doelgroep en haar directe omgeving.
        </div>

        <div class="hidden" data-uuid="23">
          <h2>"De CMD’er ontwikkelt concepten en vertaalt deze naar ontwerp en creatie van multimediale oplossingen."</h2>
          <br>
            Je ontwerpt een inspirerende oplossing voor een complex, ongedefinieerd probleem met conflicterende aspecten. <br>
            Je betrekt doorlopend verschillende stakeholders bij het (co)creatieproces en maakt gebruik van breed geïntegreerde-, algemene- en specialistische vaardigheden en vakkennis. <br><br> Je baseert de oplossing op inzichten uit eigen experimenten en bestaand onderzoek. <br><br> Dit levert een product op waarbij deze inzichten op een eigen manier zijn vertaald naar iets nieuws, rekening gehouden is met de maatschappelijke impact en de betekenis verder reikt dan alleen de toepassingscontext en/of dat wat onmiddellijk wordt ervaren.
        </div>

        <div class="hidden" data-uuid="31">
          <h2>"De CMD'er brengt de boodschap adequaat over aan leken, peers, stakeholders en experts."</h2>
          <br>
            Je hebt basale kennis van interculturele communicatie. <br> Op basis hiervan communiceer je gericht met een bepaalde doelgroep of stakeholder. <br> Je past je boodschap qua vorm, toon en inhoud hierop aan en luistert actief zodat de boodschap van zowel de zender als de ontvanger zo goed mogelijk overkomt.
        </div>

        <div class="hidden" data-uuid="32">
          <h2>"De CMD'er brengt de boodschap adequaat over aan leken, peers, stakeholders en experts."</h2>
          <br>
            Je hebt genuanceerde kennis van interculturele communicatie en kiest bewust op basis hiervan een juiste aanpak om stelselmatig met verschillende doelgroepen of stakeholders te communiceren. <br> Dit leidt tot een serie uitingen die afgestemd zijn op de doelgroep of stakeholders om draagvlak en een optimaal resultaat te bewerkstelligen.
        </div>

        <div class="hidden" data-uuid="33">
          <h2>"De CMD'er brengt de boodschap adequaat over aan leken, peers, stakeholders en experts."</h2>
          <br>
            Je bent sensitief voor de belangen en waarden van de ander en kunt die in een breder cultureel kader plaatsen. <br> Je ontwikkelt mede op basis hiervan een integrale communicatie-strategie waarin de juiste koers wordt bepaald die moet leiden tot de gewenste beeldvorming bij geselecteerde doelgroepen of stakeholders.
        </div>

        <div class="hidden" data-uuid="41">
          <h2>"De CMD-er draagt zorg voor het werkproces van zichzelf of van een multidisciplinair team."</h2>
          <br>
          Je werkt aan een duidelijke taak waarbij op voorhand goed in kaart te brengen is wat er moet gebeuren en wat het resultaat moet zijn. <br> Om het gewenste resultaat te halen binnen de beschikbare tijd maak je van tevoren een logische planning en taakindeling/verdeling en stel je duidelijke deadlines. <br><br>Tijdens het werkproces behoud je overzicht over de voortgang en los je eventuele problemen op, die het halen van de deadlines zouden kunnen beletten. Bij samenwerking motiveer je andere teamleden en spreek je ze aan als dat nodig is. <br> Je zorgt voor een gedeelde verantwoordelijkheid voor het groepsresultaat.
        </div>

        <div class="hidden" data-uuid="42">
          <h2>"De CMD-er draagt zorg voor het werkproces van zichzelf of van een multidisciplinair team."</h2>
          <br>
          Je werkt aan een ingewikkelde taak waarbij op voorhand moeilijk in kaart te brengen is wat er moet gebeuren en wat het resultaat moet zijn. <br> Om een optimaal resultaat met een effectieve en efficiënte werkwijze te halen, maak je van tevoren een plan van aanpak en formuleer je relevante succescriteria.<br><br> Naast de voortgang bewaak je de efficiëntie van het werkproces en de kwaliteit van de prestaties Je pleegt zo nodig interventies om het werkproces te optimaliseren en een beter resultaat te bewerkstelligen. <br>Bij samenwerking heb je oog voor de verschillende talenten binnen je team en zet je deze zo goed mogelijk in. <br> Je zorgt daarbij voor een constructieve sfeer en een gedeelde verantwoordelijkheid voor het werkproces.
        </div>

        <div class="hidden" data-uuid="43">
          <h2>"De CMD-er draagt zorg voor het werkproces van zichzelf of van een multidisciplinair team."</h2>
          <br>
          Je werkt aan een duidelijke taak waarbij op voorhand goed in kaart te brengen is wat er moet gebeuren en wat het resultaat moet zijn. <br> Om het gewenste resultaat te halen binnen de beschikbare tijd maak je van tevoren een logische planning en taakindeling/verdeling en stel je duidelijke deadlines. <br><br>Tijdens het werkproces behoud je overzicht over de voortgang en los je eventuele problemen op, die het halen van de deadlines zouden kunnen beletten. Bij samenwerking motiveer je andere teamleden en spreek je ze aan als dat nodig is. <br> Je zorgt voor een gedeelde verantwoordelijkheid voor het groepsresultaat.
        </div>

        <div class="hidden" data-uuid="51">
          <h2>"De CMD'er reflecteert op eigen werk en handelen en deelt voor vernieuwing en ontwikkeling eigen kennis en vaardigheden."</h2>
          <br>
            Je stelt taak- en leerdoelen op en creëert zo druk en houvast om jezelf te motiveren. <br> Je kiest een geschikte tijd en plaats van leren. <br>Je vraagt specifieke hulp bij het zoeken naar de juiste kennis en vaardigheden en bij het beoordelen of je deze voldoende beheerst. <br><br> Je monitort de voortgang richting taakdoelen, reflecteert op je handelswijze en formuleert verbeterpunten voor het vervolg van het leerproces. Binnen een team kun je peers helpen en om hulp vragen.
        </div>

        <div class="hidden" data-uuid="52">
          <h2>"De CMD'er reflecteert op eigen werk en handelen en deelt voor vernieuwing en ontwikkeling eigen kennis en vaardigheden."</h2>
          <br>
          Je leert toepassingsgericht. <br> Je signaleert beperkingen in kennis en vaardigheden (K&V) en stelt taak- en leerdoelen op. Je gaat gericht op zoek naar ontbrekende K&V en kiest hierbij een leerstrategie om deze op effectieve wijze eigen te maken.<br><br> Je reflecteert op wat en hoe je hebt geleerd. Hierbij beoordeel je of je de benodigde K&V voldoende beheerst en kun je om hulp vragen bij diepgaande kennisverwerking om deze toe te kunnen passen.<br><br> Daarnaast vergelijk je jouw eigen leer- en werkgedrag met dat van anderen en word je bewust van je eigen comfort zone en wat daarbuiten ligt. <br> Binnen een multidisciplinair team kun je K&V op een effectieve manier overbrengen op je peers en vice versa. 
        </div>

        <div class="hidden" data-uuid="53">
          <h2>"De CMD'er reflecteert op eigen werk en handelen en deelt voor vernieuwing en ontwikkeling eigen kennis en vaardigheden."</h2>
          <br>
            Je leert vanuit intrinsieke motivatie. <br> Je maakt een samenhangende set aan leerdoelen, passend bij je interesses en ambities. Je kunt informatie diepgaand verwerken om kennistransfers te kunnen maken. <br><br> Je gaat op zoek naar sparringpartners, andere opvattingen en talenten om je zelfkennis, je visie en de leer- en handelswijze van jezelf en anderen te verrijken. <br><br> Je reflecteert op wat-en hoe je hebt geleerd. <br> Je kiest hierbij eigen criteria en normen. Binnen multidisciplinaire teams kun je het gemeenschappelijke leerproces regisseren waardoor er een Community of Learning (CoL) ontstaat waarin gezamenlijk en integraal kennis wordt geconstrueerd.
        </div>

      </div>
    </div>

    <div class="form_box">
      <div class="tooltip">
        <%= image_tag "tip.png" %>
        <label for="goals">Leerdoelen:</label>
        <span class="tooltiptext">Gebruik dit canvas om richting te geven wat je wilt leren en hoe je daar kunt komen. Door alle velden in te vullen werk je aan zowel kennis, houding en vaardigheids- aspecten van de competentie.<br>
        <br>Zorg ervoor dat alle vier velden hieronder worden ingevuld en wees zo specifiek mogelijk als je hieronder bronnen, mensen, boeken, sites, etc. noemt.</span>
      </div>
        <%= form.text_area :goals, :value => @canvas.goals, placeholder: "TOELICHTING: Gebruik dit canvas om richting te geven wat je wilt leren en hoe je daar kunt komen. Door alle velden in te vullen werk je aan zowel kennis, houding en vaardigheids- aspecten van de competentie." %>
    </div>

    <div class="form_box">
      <div class="tooltip">
        <%= image_tag "tip.png" %>
        <label for="feedback" class="font-bold block">Feedback:</label>
        <span class="tooltiptext">Samenvatting van eerder ontvangen feedback.</span>
      </div>
      <%= form.text_area :feedback, :value => @canvas.feedback, placeholder: "Samenvatting van eerder ontvangen feedback" %>
    </div>

    <div class="full_black_bar">
      <h3>Leeractiviteiten:</h3>
    </div>

 <div class="form_box">
     <div class="tooltip">
       <%= image_tag "tip.png" %>
      <label for="inspiration">Inspiratie:</label>
      <span class="tooltiptext">Welke voorbeelden ga je bekijken? Waar en hoe ga je je oriënteren?</span>
     </div>
      <%= form.text_area :inspiration, :value => @canvas.inspiration, placeholder: "Welke voorbeelden ga je bekijken? Waar en hoe ga je je oriënteren?" %>
  </div>

  <div class="form_box">
    <div class="tooltip">
      <%= image_tag "tip.png" %>
     <label for="practice">Praktijk:</label>
     <span class="tooltiptext">Wat ga je maken? Denk niet alleen aan eindproducten maar ook prototypes, experimenten, tussenproducten, etc.</span>
    </div>
     <%= form.text_area :practice, :value => @canvas.practice, placeholder: "Wat ga je maken? Denk niet alleen aan eindproducten maar ook prototypes, experimenten, tussenproducten, etc." %>
   </div>

   <div class="form_box build">
     <div class="tooltip">
       <%= image_tag "tip.png" %>
       <label for="summary">Onderbouwing:</label>
       <span class="tooltiptext">Welke bronnen en theorieën ga je bestuderen? Denk aan literatuur, vakbladen, documentaires en andere kennisbronnen.</span>
     </div>
     <%= form.text_area :foundation, :value => @canvas.foundation, placeholder: "Welke bronnen en theorieën ga je bestuderen? Denk aan literatuur, vakbladen, documentaires en andere kennisbronnen"%>
   </div>


   <div class="form_box">
     <div class="tooltip">
       <%= image_tag "tip.png" %>
       <label for="consult">Consulten en Feedback:</label>
       <span class="tooltiptext">Welke experts ga je raadplegen?</span>
     </div>
     <%= form.text_area :consults, :value => @canvas.consults, placeholder: "Welke experts ga je raadplegen?" %>
   </div>


<% end %>

</div>