<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="errors">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: "Your full name" %>
  </div>

    <div>
        <label class="switch">
        <%= form.check_box :show_email , style: "display: block;"%>
            <span class="slider round"></span>
        </label>
        Show e-mail on profile?
    </div>

    <div>
        <label class="switch">
        <%= form.check_box :show_teams , style: "display: block;"%>
            <span class="slider round"></span>
        </label>
        Show teams link on profile?
    </div>

  <div>
    <%= form.label :bio, style: "display: block", value: "Describe yourself in tags" %>
    <%= form.text_area :bio, maxlength: "255", placeholder: "webdesign, research, animation, 3D, gamedesign, sound (max 255)" %>
  </div>

  <div>
      <%= form.submit "Update" %>
  </div>
<% end %>
